.registration{
    text-align: center;
    width: 300px;
    margin: 40px auto;
    border: solid 4px royalblue;

    padding-bottom: 30px;
    font-size: 18px;
}
.first{
    width: 250px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 90px;

}
input{
    text-align: center;
}
#button{
    width: 60px;
    height: 30px;
    background: royalblue;
    color: white;
    border-radius:  5px;
}

#toUserPage{
    padding: 3px;
    width: 90px;
    border: solid royalblue 2px;
    background: royalblue;
    margin-top: 5%;
    display:block;
}
#toUserPage>a{
    text-decoration: none;
    color: white;

}