*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial;
}

.header{
    background: royalblue;
    width: auto;
    height: 140px;
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 20%;
}
.user{
    float: left;
}
.admin{
    float: left;
    border: white 2px solid;
    margin-top: 30px;
    padding: 10px;
    line-height: 20px;
}

.a{
    color: white;
}

#shop{
    font-size: 120px;
    float: right;
}



.pages{
    line-height: 30px;
    font-size: 22px;

}
.pages>a{
    text-decoration: none;
    color: royalblue;
}
.wrapper{
    position: relative;
    min-height: 100%;
}
